.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
height: 336px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    margin-top: 90px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-right: 106px;
}
