.spanBlock {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.span {
    padding-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;

}


.input {

    padding-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.pen {
}
