.burgerMenuIcon {
    width: 18px;
    cursor: pointer;
    height: 18px;
    }

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 73px;
    height: 60px;
    background: white;
    color: black;
}

.header h1 {
    z-index: 1;
}
